<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>992553957166-kolqqsgq3pim4t2d3pnmb8a5p9ht5pov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992553957166-kolqqsgq3pim4t2d3pnmb8a5p9ht5pov</string>
	<key>API_KEY</key>
	<string>AIzaSyDxcgOybQi4Cgn85Los9-6tKLpI50drkcg</string>
	<key>GCM_SENDER_ID</key>
	<string>992553957166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>coolchem.SimpleTODO</string>
	<key>PROJECT_ID</key>
	<string>todoslogin-24559</string>
	<key>STORAGE_BUCKET</key>
	<string>todoslogin-24559.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:992553957166:ios:9f504871d0773fe3</string>
	<key>DATABASE_URL</key>
	<string>https://todoslogin-24559.firebaseio.com</string>
</dict>
</plist>
